:root {
    --outline-size: 3px;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #000000;
}

p {
    color: white;
}

.template {
    outline-color: #fff;
    outline-width: var(--outline-size);
    outline-style: solid;
    outline-offset: calc(var(--outline-size) * -1);
    
    background: transparent;

    border-radius: 10px;
}

footer {
    position: fixed;
    padding: 4px;
    
    bottom: 0;
    left: 0;
    
    height: 16px;
    width: 100vw;

    background-color: #282828;
    
    display: flex;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    
    color: white;
    text-align: center;
}