body {
    background-color: black;
    font-family: OpenSans;
}

div.main-container {
    display: grid;
    grid-template-columns: clamp(200px, 15vw, 400px) 1fr;
    grid-template-rows: clamp(100px, 10vh, 200px) 1fr;
    height: 100vh;
    gap: 5px;
}

/* SCHEME COLORING */

div.main-container {
    background-color: var(--background-color);
    /* background: var(--background-gradient); */
    
}

.top-menu, 
.toolbar, 
.main-area {
    border: 3px solid var(--border-color);
    box-sizing: border-box;
    color: var(--text-color);
}


.top-menu {
    grid-column: 1 / span 2;            /* spans both columns */
    grid-row: 1;                        /* first row */

    display: flex;
    align-items: center;
    justify-content: center;
}


.main-area {
    grid-column: 2;                     /* second column */
    grid-row: 2;                        /* second row */
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.toolbar {
    grid-column: 1;                     /* first column */
    grid-row: 2;                        /* second row */

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    gap: 20px;
    padding-top: 10px;
}