body.light-mode {
    --top-menu-text-color: black;
    --text-shadow-color-1: rgb(70, 70, 70);
    --text-shadow-color-2: rgb(0, 0, 0);
    --main-text-gradient: linear-gradient(90deg, #000000, #292929, #000000);

    --background-gradient: linear-gradient(90deg, #ffffff, #a7a7a7, #ffffff);
    --background-color: white;
    --border-color: black;
    --text-color: black;

    --box-shadow-color-button: black;
    --border-color-button: black;
    --button-background: rgb(235, 235, 235);
    --button-active-background-color: white;
    --button-text-color: black;

    --bg-pulse: background-pulse-light 10s infinite;
}

body.dark-mode {
    --top-menu-text-color: white;
    --text-shadow-color-1: rgb(185, 185, 185);
    --text-shadow-color-2: rgb(255, 255, 255);
    --main-text-gradient: linear-gradient(90deg, #ffffff, #b8b8b8, #ffffff);

    --background-gradient: linear-gradient(90deg, #000000, #212121, #000000);
    --background-color: black;
    --border-color: white;
    --text-color: white;
    
    --box-shadow-color-button: white;
    --border-color-button: rgb(255, 255, 255);
    --button-background: rgb(30, 30, 30);
    --button-active-background-color: black;
    --button-text-color: white;

    --bg-pulse: background-pulse-dark 10s infinite;
}

@keyframes background-pulse-dark {
    0% {
        background-color: #000000;
    }

    50% {
        background-color: rgb(17, 17, 17);
    }

    100% {
        background-color: #000000;
    }
}

@keyframes background-pulse-light {
    0% {
        background-color: #ffffff;
    }

    50% {
        background-color: #a7a7a7;
    }

    100% {
        background-color: #ffffff;
    }
}